data/abstract.csv
tgn/data/lastfm.csv
tgn/data/ml_mooc_node.npy
tgn/data/ml_mooc.csv
tgn/data/ml_mooc.npy
tgn/data/mooc.bin
tgn/data/mooc.csv
tgn/data/wikipedia.csv
tgn/wandb/debug-internal.log
tgn/wandb/debug.log
tgn/wandb/latest-run
tgn/wandb/run-20220404_162356-2kfu5mbe/run-2kfu5mbe.wandb
tgn/wandb/run-20220404_162356-2kfu5mbe/files/conda-environment.yaml
tgn/wandb/run-20220404_162356-2kfu5mbe/files/config.yaml
tgn/wandb/run-20220404_162356-2kfu5mbe/files/output.log
tgn/wandb/run-20220404_162356-2kfu5mbe/files/requirements.txt
tgn/wandb/run-20220404_162356-2kfu5mbe/files/wandb-metadata.json
tgn/wandb/run-20220404_162356-2kfu5mbe/files/wandb-summary.json
tgn/wandb/run-20220404_162356-2kfu5mbe/logs/debug-internal.log
tgn/wandb/run-20220404_162356-2kfu5mbe/logs/debug.log
tgn/__pycache__/data_preprocess.cpython-38.pyc
tgn/__pycache__/dataloading.cpython-38.pyc
tgn/__pycache__/modules.cpython-38.pyc
tgn/__pycache__/tgn.cpython-38.pyc
